{% extends 'base.html.twig' %}

{% block title %}Новый клиент{% endblock %}

{% block body %}
    <h1>Создать нового клиента</h1>

    {{ include('customer/_form.html.twig') }}

    <a href="{{ path('app_customer_index') }}">Вернуться к списку</a>
{% endblock %}
